.page-template-page-login .site-main {
    display: flex;
    flex-direction: column;
}
.section-login {
    flex: 1;
}
.section-login > div[class*='container'] > .row {
    height: 100vh;
}
.login-site-logo {
    display: block;
    margin: 0 auto;
    width: 80px;
}